<div class="container">
  <div class=" well col-sm-4">
    <%= form_for(@destination) do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :location %>
      <%= f.text_field :location %>

      <%= f.fields_for :food do |food| %>
        <%= food.label :name %>
        <%= food.text_field :name %><br>
        <%= food.label :category %>
        <%= food.text_field :category %><br>
      <% end %>
  
      <%= f.label :content %>
      <%= f.text_field :content %>

      <%= f.label :recommendation %>
      <%= f.text_field :recommendation %>

      <%= f.submit %>
    <% end %>
  </div>
</div>
