<div class="container">
  <div class=" well col-sm-12">
    <% @destinations.each do |destination| %>
      <p><%= link_to destination.title, destination_path(destination) %>
      <div id="content-<%= destination.id %>"><%= destination.content.truncate(200) %>
        <!-- <%= link_to "Read More", '#', :class => "js-more" %> -->
        <a href='#' data-id ="<%= destination.id %>" class='js-more'>Read More</a>
      </div><br>
      <!-- <button class="js-more" id ="<%= destination.id %>" data-id = "<%= destination.id %>">Read More</button><br> -->
    <% end %>
  </div>
</div>
