<div class="container">
  <div class=" well col-sm-6">
    <h3>Food Travel Story</h3>

    <p>Title: <%=@destination.title%></p>
    <p>Location: <%=@destination.location%></p>
    <p>Name: <%=@food.name%></p>
    <p>Type of Food: <%=@food.category%></p>

    <p>Content: <%=@destination.content%></p>
    <p>Recommendations: <%=@destination.recommendation%></p><br>

    <%= link_to "Update Food Travel Story", edit_destination_path(@destination), class: "btn btn-info btn-sm dest_button" %><br><br>
    <%= link_to "Delete Destination", [@destination], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning btn-xs dest_button" %><br><br>

    <h4>Add a comment:</h4>
      <%= form_for @destination.comments.build do |f| %>
      <%= f.hidden_field :destination_id %>
      <%= f.hidden_field :user_id %>
        <%= f.fields_for :user, @destination.comments.last.build_user do |user_fields| %>
          <p><strong>Name</strong><%= user_fields.text_field :name, class: 'form-control' %></p>
        <% end %>
        <p><strong>Content</strong> <%= f.text_area :content, class: 'form-control' %></p>
        <%= f.submit "Create Comment", class: "btn btn-sm btn-primary" %>
      <% end %><br>

    <p>Comments: <br>
      <% @destination.comments.each do |comment| %>
        <li><%= comment.user.name %> says: <%= comment.content %></li>
      <% end %>
    </p>

  </div>

</div>
