<div class="container">
  <div class=" well col-sm-4">
    <h3>Food Travel Story</h3>

    <p>Title: <%=@destination.title%></p>
    <p>Location: <%=@destination.location%></p>
    <p>Name: <%=@food.name%></p>
    <p>Type of Food: <%=@food.category%></p>

    <p>Content: <%=@destination.content%></p>
    <p>Recommendations: <%=@destination.recommendation%></p>
  </div>
</div>
