<!DOCTYPE html>
<html>
  <head>
    <title>FoodTravelsRailsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body id="<%= controller_name %>-<%= action_name %>">
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>

    <%= yield %>

    <hr>

    <footer class="container">
      <small>&copy; 2020 Developed by <a href="https://www.karunasehgal.com">Karuna Sehgal</a> | <a href="https://github.com/karuna24s/food-travels-rails-app">GitHub <i class="fa fa-github"></i></a></small>
    </footer>

  </body>
</html>
